
@{
    ViewBag.Title = "Principal2";
}

<div class="contenedor">

    @if (@ViewBag.rol == 1)
    {
        <!--Menu-->
        <div class="navbar-fixed">
            <nav class="light-blue darken-4">
                <div class="container">
                    <a href="@Url.Action("Index", "Home")#inicio" class="brand-logo">
                        <img src="~/images/logo.png" height="45" style="vertical-align: middle;">
                    </a>
                    <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="@Url.Action("Login", "Acceso")" i class="material-icons"
                               style="vertical-align: middle;">exit_to_app</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="menu-responsive">
            <li><a href='@Url.Action("Index", "Home")#inicio'>Inicio</a></li>
            <li><a href='@Url.Action("Index", "Home")#creditos'>Créditos</a></li>
            <li><a href='@Url.Action("Index", "Home")#calculadora'>Calculadora Créditos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="@Url.Action("Login", null, new { area = string.Empty, controller = "Acceso" }, Request.Url.Scheme)">Iniciar Sesión</a></li>
        </ul>


    }
</div>
<br>
<br>
<div class="cuadroSoli">
    <h4 class="center">
        <a class="btnColor" style="width: auto;">Bienvenido Tramitador</a>
    </h4>
    <div class="row">
        <div class="col s12 m12 l12 center">
            <ul>
                <a i class="material-icons" style="vertical-align: middle; color: white;">person</a>
                <a style="color: white;">@ViewBag.mssg</a>
            </ul>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 m6 l3">
            <a href="@Url.Action("MenuSolicitudes", null, new { area = string.Empty, controller = "Tramitador" }, Request.Url.Scheme)"><img src="~/images/solicitudes.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Solicitudes</div>
        </div>
        <div class="col s6 m6 l3">
            <a href="@Url.Action("Tendencias", null, new { area = string.Empty, controller = "Principal" }, Request.Url.Scheme)"><img src="~/images/tendencias.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Tendencias</div>
        </div>
        <div class="col s6 m6 l3">
            <a href="@Url.Action("ConfCreditos", null, new { area = string.Empty, controller = "Tramitador" }, Request.Url.Scheme)"><img src="~/images/creditos.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Créditos</div>
        </div>
        <div class="col s6 m6 l3">
            <a href="@Url.Action("TramitadorUsuarios", null, new { area = string.Empty, controller = "Tramitador" }, Request.Url.Scheme)"><img src="~/images/usuarios.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Usuarios</div>
        </div>
    </div>
</div>


<div class="cuadroModulo">
    <p>
        Este módulo de configuración le permite gestionar las solicitudes, tendencias, créditos y
        usuarios.

        El acceso a este módulo es exclusivo para el tramitador
    </p>
</div>
