
@model IEnumerable<ProyectoAPSW1._2.Models.TramiteModelo>

<div class="contenedor">

    @if (@ViewBag.rol == 3)
    {
        <!--Menu-->
        <div class="navbar-fixed">
            <nav class="light-blue darken-4">
                <div class="container">
                    <a href="@Url.Action("Index", "Home")#inicio" class="brand-logo">
                        <img src="~/images/logo.png" height="45" style="vertical-align: middle;">
                    </a>
                    <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="@Url.Action("Login", "Acceso")" i class="material-icons"
                               style="vertical-align: middle;">exit_to_app</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="menu-responsive">
            <li><a href='@Url.Action("Index", "Home")#inicio'>Inicio</a></li>
            <li><a href='@Url.Action("Index", "Home")#creditos'>Créditos</a></li>
            <li><a href='@Url.Action("Index", "Home")#calculadora'>Calculadora Créditos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="@Url.Action("Login", null, new { area = string.Empty, controller = "Acceso" }, Request.Url.Scheme)">Iniciar Sesión</a></li>
        </ul>


    }

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="nav-wrapper">
                <a href="@Url.Action("Principal", "Principal")" class="breadcrumb">Inicio</a>
                <a href="@Url.Action("SolicitudCliente", "Principal")" class="breadcrumb">Solicitudes Realizadas</a>
              
            </div>
        </div>


        <div class="col s12 m12 l6 center">
            <ul>
                <a i class="material-icons" style="vertical-align: middle; color: white;">person</a>
                <a style="color: white;">@ViewBag.mssg</a>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="cuadroTablas1">
        <h4 class="center">
            <a class="btnColor" style="width: auto;">Detalle Solicitudes</a>
        </h4>
       


        <div class="tablas" cellpadding="1" cellspacing="1" id="tablaSolicitudes">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr class="tituloTabla">
                        <th>N° Solicitud</th>
                        <th>Fecha</th>
                        <th>Identificación</th>
                        <th>Monto Solicitado</th>
                        <th>Tipo de Crédito</th>
                        <th>Tasa de interés (%)</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Comentario</th>

                    </tr>
                </thead>

                <tbody class="infoTablas">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idSolicitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TasaInteres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Responsable)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Comentario)
                        </td>


                    </tr>

                        }
                    }

                </tbody>
            </table>
        </div>

        <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
            <ul class="pagination pager" id="myPager"></ul>
        </div>

    </div>
</div>