@model IEnumerable<ProyectoAPSW1._2.Models.UsuariosModelo>


<div class="contenedor">
    <!--Menu-->
    @if (@ViewBag.rol == 1)
    {
        <div class="navbar-fixed">
            <nav class="light-blue darken-4">
                <div class="navbar-wrapper">

                    <div class="container">
                        <a href="@Url.Action("Index", "Home")" class="brand-logo">
                            <img src="~/images/logo.png" height="45" style="vertical-align: middle;">
                        </a>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="@Url.Action("Login", "Acceso")" i class="material-icons"
                                   style="vertical-align: middle;">exit_to_app</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <ul class="sidenav" id="menu-responsive">
            <li><a href="@Url.Action("Principal2", "Principal")">Inicio</a></li>
            <li><a href="@Url.Action("Solicitudes", "Tramitador ")">Solicitudes</a></li>
            <li><a href="@Url.Action("Tendencias", "Principal")">Tendencias</a></li>
            <li><a href="@Url.Action("TramitadorCreditos", "Tramitador")">Créditos</a></li>
            <li><a href="@Url.Action("TramitadorUsuarios", "Tramitador")">Usuarios</a></li>
            <li><a href="@Url.Action("Index", "Home")">Cerrar Sesión</a></li>
        </ul>

    }


    <div class="row">
        <div class="col s12 m12 l6">
            <div class="nav-wrapper">
                <a href="@Url.Action("Principal2", "Principal")" class="breadcrumb">Inicio</a>
                <a href="@Url.Action("TramitadorUsuarios", "Tramitador")" class="breadcrumb">Administración Usuarios</a>
                <a href="@Url.Action("ConfUsuarios", "Tramitador")" class="breadcrumb">Configuración Usuarios</a>
            </div>
        </div>


        <div class="col s12 m12 l6 center">
            <ul>
                <a i class="material-icons" style="vertical-align: middle; color: white;">person</a>
                <a style="color: white;">@ViewBag.mssg</a>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="cuadroTablas1">
        <h4 class="center">
            <a class="btnColor" style="width: auto;">Configuración Usuarios</a>
        </h4>
        <div class="row">
            <div class="col s6 m6 l3">
                <div class="infoBusqueda">
                    <input type="text" class="inputbusqueda" id="valor" style=" background-color: #ffffffe6;"
                           placeholder="Buscar">
                </div>
            </div>

            <div class="col s6 m6 l3">
                <select class="infoBusqueda2" id="busqueda">
                    <option value="1" disabled selected>Herramienta Búsqueda</option>
                    <option value="2">Identificación</option>
                    <option value="3">Nombre</option>
                </select>
            </div>

            <div class="col s12 m12 l3 center">

                <a onclick=" BuscarUusarios()" class="waves-effect waves-light light-blue darken-4 btn">Buscar</a>

                <a class="waves-effect waves-light btn modal-trigger green" href="#modalAgregar">Nuevo</a>
            </div>

        </div>


        <div class="tablas" cellpadding="1" cellspacing="1" id="tablaUsuarios">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr class="tituloTabla">
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Acciones</th>

                    </tr>
                </thead>

                <tbody class="infoTablas">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {


                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Identificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>


                                <td>
                                    <a onclick="MasInformacion(@item.Identificacion)" i class="material-icons modal-trigger"
                                       style="vertical-align: middle; color: white;">more_horiz</a>
                                    <a onclick="ModalEditarUsuario(@item.Identificacion)" i class="material-icons modal-trigger"
                                       style="vertical-align: middle; color: white">edit</a>
                                </td>

                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>

        <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
            <ul class="pagination pager" id="myPager"></ul>
        </div>
  
    </div>
</div>



<div id="modalAgregar" class="modal">
    <div class="modal-content">
        <h4 class="center">
            <a class="btnColor" style="width: auto;">Nuevo Usuario</a>
        </h4>
        <form class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m6 l6">
                    <input placeholder="Identificación" id="idusuario" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Identificación</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Nombre" id="nomusuario" type="text" class="validate" style="color: white;">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Primer Apellido" id="p1usuario" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Primer Apellido</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Segundo Apellido" id="p2usuario" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Segundo Apellido</label>
                </div>
              
                <div class="col s12 m6 l6">
                    <input placeholder="Teléfono" id="teleusuario" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Teléfono</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Correo" id="corusuario" type="text" class="validate" style="color: white;">
                    <label for="first_name">Correo</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Contraseña" id="contusuario" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Contraseña</label>
                </div>
                <div class="col s6 m6 l6">
                    <select class="infoBusqueda2" id="rolusuario">
                        <option value="" disabled selected>Rol</option>
                        <option value="1">Tramitador</option>
                        <option value="2">Analista</option>

                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a onclick="RegistroUsuarios()" class="modal-close btn-small green">Guardar</a>
        <a href="#!" class="modal-close btn-small red">Cancelar</a>
    </div>
</div>


<div id="modalMasInformacion" class="modal">
    <div class="modal-content">
        <h4 class="center">
            <a class="btnColor" style="width: auto;">Más información </a>
        </h4>
        <form class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m6 l6">
                    <input placeholder="Identificación" id="idusuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Identificación</label>
                    
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Nombre" id="nomusuario2" type="text" class="validate" style="color: white;">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Primer Apellido" id="p1usuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Primer Apellido</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Segundo Apellido" id="p2usuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Segundo Apellido</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Teléfono" id="teleusuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Teléfono</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Correo" id="corusuario2" type="text" class="validate" style="color: white;">
                    <label for="first_name">Correo</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Contraseña" id="contusuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Contraseña</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Rol" id="rolusuario2" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Rol</label>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
      
        <a href="#!" class="modal-close btn-small red">Cancelar</a>
    </div>
</div>

<div id="modalModificarUsuario" class="modal">
    <div class="modal-content">
        <h4 class="center">
            <a class="btnColor" style="width: auto;">Modificar Usuario</a>
        </h4>
        <form class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m6 l6">
                    <input placeholder="Identificación" id="idusuario3" readonly type="text" class="validate"
                           style="color: white;"> <label for="first_name">Identificación</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Nombre" id="nomusuario3" type="text" class="validate" style="color: white;">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Primer Apellido" id="p1usuario3" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Primer Apellido</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Segundo Apellido" id="p2usuario3" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Segundo Apellido</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Teléfono" id="teleusuario3" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Teléfono</label>
                </div>
                <div class="col s12 m6 l6">
                    <input placeholder="Correo" id="corusuario3" type="text" class="validate" style="color: white;">
                    <label for="first_name">Correo</label>
                </div>

                <div class="col s12 m6 l6">
                    <input placeholder="Contraseña" id="contusuario3" type="text" class="validate"
                           style="color: white;"> <label for="first_name">Contraseña</label>
                </div>
                <div class="col s6 m6 l6">
                    <select class="infoBusqueda2" id="rolusuario3">
                        <option value="" disabled selected>Rol</option>
                        <option value="1">Tramitador</option>
                        <option value="2">Analista</option>

                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a onclick="ModificarUsuario()" class="modal-close btn-small green">Guardar</a>
        <a href="#!" class="modal-close btn-small red">Cancelar</a>
    </div>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);

            var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
        });


  

    $(document).ready(function () {
        $('#tablaUsuarios').pageMe({
            pagerSelector: '#myPager',
            activeColor: 'blue',
            prevText: 'Anterior',
            nextText: 'Siguiente',
            showPrevNext: true,
            hidePageNumbers: false,
            perPage: 10
        });
    });


 

</script>


