

<div class="contenedor">

    @if (@ViewBag.rol == 1)
    {
        <!--Menu-->
        <div class="navbar-fixed">
            <nav class="light-blue darken-4">
                <div class="container">
                    <a href="@Url.Action("Index", "Home")#inicio" class="brand-logo">
                        <img src="~/images/logo.png" height="45" style="vertical-align: middle;">
                    </a>
                    <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="@Url.Action("Login", "Acceso")" i class="material-icons"
                               style="vertical-align: middle;">exit_to_app</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
     

        <ul class="sidenav" id="menu-responsive">
            <li><a href="@Url.Action("Principal2", "Principal")">Inicio</a></li>
            <li><a href="@Url.Action("Solicitudes", "Tramitador ")">Solicitudes</a></li>
            <li><a href="@Url.Action("Tendencias", "Principal")">Tendencias</a></li>
            <li><a href="@Url.Action("TramitadorCreditos", "Tramitador")">Créditos</a></li>
            <li><a href="@Url.Action("TramitadorUsuarios", "Tramitador")">Usuarios</a></li>
            <li><a href="@Url.Action("Index", "Home")">Cerrar Sesión</a></li>
        </ul>


    }

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="nav-wrapper">
                <a href="@Url.Action("Principal2", "Principal")" class="breadcrumb">Inicio</a>
                <a href="@Url.Action("TramitadorUsuarios", "Tramitador")" class="breadcrumb">Administración Usuarios</a>

            </div>
        </div>

        <div class="col s12 m12 l6 center">
            <ul>
                <a i class="material-icons" style="vertical-align: middle; color: white;">person</a>
                <a style="color: white;">@ViewBag.mssg</a>
            </ul>
        </div>
    </div>
</div>

<div class="cuadroSoli">
    <h4 class="center">
        <a class="btnColor">Admistración Usuarios</a>
    </h4>
    <div class="row center">
        <div class="col s12 m6 l6">
            <a href="@Url.Action("ConfClientes", "Tramitador")"><img src="~/images/clientes.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Clientes</div>

        </div>

        <div class="col s12 m6 l6">
            <a href="@Url.Action("ConfUsuarios", "Tramitador")"><img src="~/images/usuarios1.png" class="botonAdm"></a>
            <div class="etiquetasBotones">Usuarios</div>
        </div>
    </div>
</div>

<div class="cuadroModulo">
    <p>Este módulo permite administrar los clientes y usuarios del sistema.</p>
    <p>El acceso a este módulo es exclusivo para el tramitador</p>
</div>